searchview list {
  min-width: 600px;
}

searchview list row {
  padding: 8px;
  border-bottom: 1px solid alpha(@borders, 0.4);
}

searchview list row:last-child {
  border-bottom: none;
}

searchview list row image {
  min-width: 16px;
  min-height: 16px;
  margin-right: 10px;
  opacity: 0.55;
}
