searchview list {
  min-width: 600px;
}

searchview list row {
  padding: 8px;
  border-top: 1px solid alpha(@borders, 0.4);
}

searchview list row:last-child {
  border-bottom: none;
}

searchview list > label {
  font-size: 1.1em;
  font-weight: bold;
  opacity: 0.40;
  margin-left: 8px;
  margin-top: 6px;
}
