rtfmpathbar button {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  opacity: 0.75;
  padding: 3px 3px 0px 3px;
}

rtfmpathbar label.separator {
  font-size: 0.83333em;
}

rtfmpathbar button:checked {
  border-bottom: 2px solid @theme_selected_bg_color;
  font-weight: bold;
  opacity: 1;
}

rtfmpathbar button:checked:backdrop {
  border-bottom-color: alpha(@borders,.75);
}

rtfmpathbar button:hover {
  opacity: 0.9;
  border-bottom-color: @borders;
}
