rtfmsidebar stacklist list.view {
  background-color: @content_view_bg;
}
rtfmsidebar stacklist list row {
  background-color: mix(@content_view_bg, @theme_bg_color, 0.5);
  color: @theme_fg_color;
  padding-bottom: 3px;
}
rtfmsidebar stacklist list.stack-header row:hover,
rtfmsidebar stacklist list row:hover {
  background-color: shade(@theme_bg_color, 0.95);
}
rtfmsidebar stacklist list.stack-header row:active,
rtfmsidebar stacklist list row:active {
  color: @theme_selected_fg_color;
  background-color: @theme_selected_bg_color;
}
rtfmsidebar stacklist list.stack-header row {
  background-color: mix(@content_view_bg, @theme_bg_color, 0.25);
  color: @theme_fg_color;
}
rtfmsidebar stacklist list.stack-header row:last-child {
  border-bottom: 1px solid @borders;
  color: @theme_fg_color;
}
rtfmsidebar list.stack-header row {
  border-bottom: 1px solid alpha(@borders,.15);
}
rtfmsidebar stacklist row image {
  margin: 6px;
  min-width: 16px;
  min-height: 16px;
}
